@import "../base/colores";
*{
    padding: 0;
    border: 0;
}
body{
    background-color: $bg-body;
    header{
        .navbar{
            padding-left: 300px;
            background-color: $bg-body;
            color: $colnegr;
            .btn{
                color: $colnegr;
                &:hover{
                    background-image: linear-gradient(to top, $bg-footer, $grad);
                    background-color: $bg-footer;
                }
            }
            .nav-link{
                color: $colnegr;
                &hover{
                    color: $colnegr;
                }
            }
            .navbar-nav{
                padding-left: 300px;
                color: $colnegr
            }
            .nav-item{
                color: $bg-footer;
                border-color: $bg-footer;
                margin: 5px;
            }
        }
        
    }
}